@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Cant think of anything to write, so here's a poem:<br/>
    Roses are red<br/>
    My name is Dave<br/>
    This poem makes no sense<br/>
    Microwave<br/></p>
