@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Somewhere in Thessaloniki<br />
    not telling you exactly u creep<br />
    <abbr title="Phone">P:</abbr>
    2310.655.315 (Pizzaria einai mh parete thlefwno)
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">orestis.mavroudis@Peoplecert.onmicrosoft.com</a><br />
</address>