@{
    ViewBag.Title = "Bootcamp";
}

<div class="jumbotron">
    <h1>Bootcamp</h1>
    <p class="lead">This application is sponsored by Deliveras.gr.
    Anyways, check the Trainers link on the navbar, that's where the project requirements were met.</p>
    <p style="font-size:7px">Disclaimer: Deliveras has been bought by efood. Long Live corporatocracy!</p>
    <p><a href="https://www.e-food.gr/" class="btn btn-primary btn-lg">Peinas? Deliveras! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contoso University</h2>
        <p>
            I've uploaded The Contoso App (Which I totally didn't copy from the online microsoft example) to Azure too. 
            Am I a programmer yet?
        </p>
        <p><a class="btn btn-default" href="http://contosouniversity007.azurewebsites.net/">Check it out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My github</h2>
        <p>I also got a github account, it's pretty barebones atm, but it's better than nothing ya know? Not convinced yet? 
        There's a cute goat picture inside.</p>
        <p><a class="btn btn-default" href="https://github.com/Anepsios">Visit me &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reddit</h2>
        <p>I usually read around Reddit for entertainment when I'm bored.
        The /r askreddit subreddit can be gold until you find a sub that suits ur needs.</p>
        <p><a class="btn btn-default" href="https://www.reddit.com/r/AskReddit/">Link for the lazy &raquo;</a></p>
    </div>
</div>